body{
    background-color: #161616;
    color: #DDDDDD;
}

a:link {
    color: #5F89CE;
}
a:visited {
    color: #885FDF;
}
a:hover {
}


/*interactive stuff*/
button{
    background-color: #404040;
    color: #DDDDDD;
}
button:hover {
}

select{
    background-color: #404040;
    color: #DDDDDD;
}

input[type="date"], input[type="text"], input[type="number"] {
    background-color: #404040;
    color: #DDDDDD;
}

button:hover, select:hover, input[type="date"]:hover, input[type="text"]:hover, input[type="number"]:hover{
    background-color: #DDDDDD;
    color: #000000;
}
button:active, button:focus, select:active, select:focus, input[type="date"]:active, input[type="date"]:focus, input[type="text"]:active, input[type="text"]:focus, input[type="number"]:active, input[type="number"]:focus{
    background-color: #000000;
    color: #DDDDDD;
}

i:hover{
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.2);
}
i:active, i:focus{
    color: #000000;
    background-color: rgba(255, 255, 255, 0.2);
}


/*whole thing*/
::-webkit-scrollbar {
}

/*buttons*/
::-webkit-scrollbar-button {
    background-color: #404040;
}
::-webkit-scrollbar-button:hover {
    background-color: #BBBBBB;
}
::-webkit-scrollbar-button:active {
    background-color: #707070;
}

::-webkit-scrollbar-button:vertical:decrement{
    background-image: url('assets/google-icons/svg/ic_arrow_drop_up_white_24px.svg');
}
::-webkit-scrollbar-button:vertical:decrement:hover {
    background-image: url('assets/google-icons/svg/ic_arrow_drop_up_black_24px.svg');
}
::-webkit-scrollbar-button:vertical:decrement:active{
    background-image: url('assets/google-icons/svg/ic_arrow_drop_up_white_24px.svg');
}

::-webkit-scrollbar-button:vertical:increment{
    background-image: url('assets/google-icons/svg/ic_arrow_drop_down_white_24px.svg');
}
::-webkit-scrollbar-button:vertical:increment:hover {
    background-image: url('assets/google-icons/svg/ic_arrow_drop_down_black_24px.svg');
}
::-webkit-scrollbar-button:vertical:increment:active{
    background-image: url('assets/google-icons/svg/ic_arrow_drop_down_white_24px.svg');
}

::-webkit-scrollbar-button:horizontal:decrement{
    background-image: url('assets/google-icons/svg/ic_arrow_drop_left_white_24px.svg');
}
::-webkit-scrollbar-button:horizontal:decrement:hover {
    background-image: url('assets/google-icons/svg/ic_arrow_drop_left_black_24px.svg');
}
::-webkit-scrollbar-button:horizontal:decrement:active {
    background-image: url('assets/google-icons/svg/ic_arrow_drop_left_white_24px.svg');
}

::-webkit-scrollbar-button:horizontal:increment{
    background-image: url('assets/google-icons/svg/ic_arrow_drop_right_white_24px.svg');
}
::-webkit-scrollbar-button:horizontal:increment:hover {
    background-image: url('assets/google-icons/svg/ic_arrow_drop_right_black_24px.svg');
}
::-webkit-scrollbar-button:horizontal:increment:active {
    background-image: url('assets/google-icons/svg/ic_arrow_drop_right_white_24px.svg');
}

/*actual bar*/
::-webkit-scrollbar-thumb {
    background: #404040;
}
::-webkit-scrollbar-thumb:hover {
    background: #BBBBBB;
}
::-webkit-scrollbar-thumb:active {
    background: #707070;
}

/*bar background*/
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-track:hover {
    background: #303030;
}
::-webkit-scrollbar-track:active {
    background: #303030;
}



.new_decade{
    border-left-color: rgba(221, 221, 221, 0.7);
}

.payload_background{
    background-color: rgba(255, 255, 255, 0.3);
}



/*main window*/
#settings_window{
    background-color: #202020;
    box-shadow: 22px 0px 51px 25px rgba(0,0,0,0.89);
}



/*legend*/
#background_legend{
    background-color: #202020;
    box-shadow: 0px 0px 9px 0px black;
}

#legend_active{
}
#legend_retired{
    background-color: rgba(196, 19, 0, 0.3);
}
#legend_dev{
    background-color: rgba(0, 110, 255, 0.3);
}
#legend_cancelled{
    background-color: rgba(255, 255, 255, 0.3);
}



/*share box*/
#share_box{
    background-color: #202020;
    box-shadow: 0px 0px 26px 3px black;
}



/*add/remove box*/
#add_remove_box{
    background-color: #202020;
    box-shadow: 0px 0px 26px 3px black;
}



/*zoom box*/
#image_zoom_box{
    background-color: #202020;
    box-shadow: 0px 0px 26px 3px black;
}
#rocket_zoom_name_box{
    text-shadow: 1px 1px 3px black;
}



/*for more*/
#source_table tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.2);
}
