body{
    overflow-y: hidden;
}



/*main window*/
#comp_wrap{
    height: 100%;
}

#rocket_comp_background{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

table{
    border-collapse: collapse;
}
#rocket_comp_table{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    margin-left: 20px;
}

tbody{
    height: 100%;
}

tr{
    padding: 0;
}

#rocket_img_row{
}
#rocket_img_row img{
    cursor: zoom-in;
}

#rocket_manufacturer_row{

}
#rocket_name_row{

}
#rocket_date_row{
    display: none;
}
#rocket_payload_leo_row{
    display: none;
}
#rocket_payload_gto_row{
    display: none;
}
#rocket_cost_row{
    display: none;
}
#basic_row{

}

th{
    padding: 0;
    font-weight: normal;
    text-align: left;
}
td{
    padding: 0 0.8em;
    text-align: center;
}
td p, td h4{
    margin: 0;
}

.rocket_comp_cell{
    height: 84vh;
    padding: 0;
    vertical-align: bottom;
}
.rocket_comp_cell:hover i {
    display:inline-block;
}
.new_decade{
    border-left: 2px solid rgba(21, 21, 21, 0.7);
}

.decade_block{
    position: absolute;
    top: 0;
    padding: 15px 5px;
    font-size: 1.5em;
}

.remove_rocket{
    display: none;
    position: absolute;
    top: 0;
    margin: 20px 10px;
}
.comp_img{
    padding: 0 0.8em;
}


/*Settings*/
/*collaps/expand buttons*/
.setting_status_switch_button{
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    margin: 20px;
}
#expand_button{
    font-size: 150px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 7;
}
#collapse_button{
    font-size: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#back_to_top_button{
    display: none;
}


#settings_window{
    height: 100%;
    width: 750px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: #F5F5F5;
    box-shadow: 10px 0px 20px 10px black;
    transition: right 0.5s ease 0s;
}
#settings_window h1{
    text-align: center;
    margin: 0.3em 0;
}

#settings_form{
    height: 100%;
    margin: 0;
    overflow: auto;
}


/*static settings*/
#static_settings{
    margin: 0 0 20px;
    padding: 10px 20px 0;
}

#selec_div_container{
    margin: 1em 0;
}
.selec_div{
    margin: 0.75em 0;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.selec_div i{
    align-self: center;
}
.selec_div p{
    display: inline-block;
    margin: 0;
}


#title_box{
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#title_box h1{
    display: inline-block;
    margin-right: 20px;
}

#status_legend_checkbox_wrap{
    display: none;
}

#static_checkboxes_container, #button_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
}
#static_checkboxes_container, #button_container, #selec_div_container{
    margin: 1.5em 0;
}


#static_checkboxes_container label{
    margin-right: 1em;
}


/*selection*/
#object_selection{
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 2em;
}
#object_selection h2{
    margin: auto;
}


.not_Rockets_type_content{
    -moz-column-count: 3;/*fuck this shit*/
    -webkit-column-count: 3;
    column-count: 3;
}


.selec_type{
    margin-bottom: 2em;
}
.selec_header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 0.5em;
}

.title_button_group{
    white-space: nowrap;
}
.title_button_group i{
    margin: 0 0.3em;
}

/*titles*/
#object_selection h2{
    margin: 0;
    font-size: 1.8em;
}

#object_selection h3{
    margin: 0;
    font-size: 1.5em;
}
.selec_country{
}

#object_selection h4{
    margin: 0;
    font-size: 1.2em;
}
.selec_header_manufacturer{
}
.selec_manufacturer{
    break-inside: avoid;
}
.selec_manufacturer_content{
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;

    margin-top: -0.75em;
}

#object_selection h5{
    margin: 0;
    font-size: 1em;
}
.selec_family{
    page-break-inside: avoid;
    break-inside: avoid;
    padding: 1em 0;
}
.selec_family div[class="selec_name"] + div[class="selec_name"]{
    margin: 1em 0;
}

#object_selection h6{
}
.selec_name{
    -moz-column-count: 2;/*seriously fuck this shit*/
    -webkit-column-count: 2;
    column-count: 2;
}


.rocket_checkbox {
    display: flex;
    align-items: center;
    page-break-inside: avoid;
    break-inside: avoid;
}



/*legend*/
#background_legend{
    display: none;
    position: fixed;
    left: 70px;
    top: 20px;
    background-color: #E4E4E4;
    box-shadow: 0px 0px 9px 0px black;
}

#background_legend h3{
    padding: 7px 15px;
    margin: 0;
}
#close_legend_button{
    top: 0;
    right: 0;
    position: absolute;
    font-size: 36px;
}
#legend_active{
}
#legend_retired{
    background-color: rgba(196, 19, 0, 0.3);
}
#legend_dev{
    background-color: rgba(0, 110, 255, 0.3);
}
#legend_cancelled{
    background-color: rgba(0, 0, 0, 0.3);
}



/*share box*/
#share_box{
    position: fixed;
    top: 45px;
    right: 800px;
    display: none;

    padding: 20px;
    z-index: 20;
    background-color: #F5F5F5;
    box-shadow: 0px 0px 26px 3px black;
}
#share_box h1{
    margin-top: 0;
}

#close_share_button{
    top: 10px;
    right: 10px;
    position: absolute;
    font-size: 48px;
}
#share_form{
    margin-bottom: 0;
    display: flex;
    align-items: center;
}
#share_form_text{
    margin-top: 0.2em;
    margin-bottom: 0;
}
#share_link{
    margin: 0 10px;
}
#copy_share_button{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}



/*add/remove box*/
#add_remove_box{
    position: fixed;
    top: 45px;
    left: 20px;
    display: none;

    min-width: 450px;
    padding: 20px;
    padding-left: 40px;
    z-index: 20;
    background-color: #F5F5F5;
    box-shadow: 0px 0px 26px 3px black;
}
#add_remove_box h1{
    margin-top: 0;
}
#add_remove_box select, #add_remove_box input[type="date"], #add_remove_box input[type="number"]{
    margin: 0 0.5em;
}
#add_remove_box select{
    width: 175px;
}

#close_add_remove_button{
    top: 10px;
    right: 10px;
    position: absolute;
    font-size: 48px;
}

#add_remove_form{
    display: flex;
    flex-direction: column;
    max-height: 80vh;
}
#add_remove_form > *{
    margin: 7px 0;
}

#add_remove_radio_add input[type="radio" i]{
    margin-left: 0;
}

.add_remove_condition_first_col{
    width: 130px;
}
.remove_condition{
    position: absolute;
    left: 15px;
}

#add_remove_confirm_button{
    align-self: center;
}



/*zoom box*/
#image_zoom_box{
    position: fixed;
    top: 0;
    left: 0;
    display: none;

    height: 100%;
    box-sizing: border-box;
    z-index: 5;
    background-color: #DDDDDD;
    box-shadow: 0px 0px 26px 3px black;
}

#rocket_zoom_name_box{
    position: absolute;
    left: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 0;

    background-image: url(assets/flags-logos/usa);
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
}
#rocket_zoom_name_box h2{

}
#rocket_zoom_name_box p{
    font-size: 1.1em;
}

#image_zoom{
    height: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    cursor: zoom-out;
}



@media (max-width: 1200px){ /*small desktop/big tablet*/
    #share_box{
        left: 10px;
        right: auto;
    }
    #add_remove_box{
        left: 10px;
        right: auto;
    }
}
@media (max-width: 1000px){ /*phone horizontal/tablet*/
    #settings_window{
        right: -110%;
        width: 100vw;
        min-width: 0;
    }


    .setting_status_switch_button{
        width: auto;
        height: auto;
        margin: 0;
    }
    #expand_button{
        font-size: 100px;
        display: flex;
    }
    #collapse_button{
        font-size: 100px;
    }

    #back_to_top_button{
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 50px;
        margin-right: 20px;
        transform: rotate(90deg);
    }


    #button_container{
        width: 85%;
    }
    #static_checkboxes_container{
        width: 100%;
    }

    #static_checkboxes_container, #button_container, #selec_div_container{
        margin: 2em 0;
    }

    button{
        margin: 0.5em;
    }
    .selec_div{
        margin: 1em 0;
    }


    .title_button_group i {
        margin: 0 0.5em;
    }

    #background_legend{
        left: 10px;
        top: 20px;
    }
    #share_box{
        top: 70px;
    }
    #add_remove_box{
        top: 70px;
    }
    #rocket_zoom_name{

    }
}
@media (max-width: 650px){ /*big phone/phone horizontal*/
    .selec_manufacturer_content{
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }

    .selec_name{
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }


    #add_remove_box{
        box-sizing: border-box;
        width: 100%;
        left: 0;
    }
}
@media (max-width: 500px){ /*phone*/
    .not_Rockets_type_content{
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
    .selec_name{
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media (max-width: 350px){ /*small phone*/
    .not_Rockets_type_content{
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
    .selec_name{
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }

    #static_settings{
        padding: 0 7px;
    }
    #object_selection{
        padding: 0 7px;
    }


    #share_box{
        box-sizing: border-box;
        width: 100%;
        left: 0;
    }
}
