body{
    margin: 0;
    background-color: #E4E4E4;
    color: #202020;
    font-family: arial;
    font-size: 1em;
}

a:link {
    color: #0063AF;
    text-decoration: none;
}
a:visited {
    color: #2A1288;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(assets/google-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(assets/google-icons/MaterialIcons-Regular.woff2) format('woff2'),
       url(assets/google-icons/MaterialIcons-Regular.woff) format('woff'),
       url(assets/google-icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    -moz-osx-font-smoothing: grayscale;

    font-feature-settings: 'liga';
}


/*interactive stuff*/
.material-icons, button, select, input[type="checkbox"], input[type="radio"], input[type="date"], label{
    cursor: pointer;
}


label {
    margin: 4px 0;
}
label:hover {
    text-decoration: underline;
}

button{
    padding: 7px 15px;
    margin: 5px;
    border: none;
    background-color: #DDDDDD;
    font-size: 1em;
    box-shadow: 0px 0px 5px 0px black;
    transition-duration: 0.2s;
}
button:hover {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 1px black;
}

select{
    margin: 0 1em;
    background-color: #FFFFFF;
    color: #202020;
    padding: 2px 0;
    border: none;
    box-shadow: 0px 0px 5px 0px black;
    font-size: 1em;
    transition-duration: 0.2s;
}
select:hover, select:focus{
    box-shadow: 0px 0px 10px 1px black;
}

input[type="checkbox"] {
    height: 13px;
    width: 13px;
    margin: 0;
    margin-right: 5px;
}

input[type="date"], input[type="text"], input[type="number"] {
    border: none;
    padding: 4px;
    font-size: 1em;
    background-color: #FFFFFF;
    color: #202020;
    box-shadow: 0px 0px 5px 0px black;
    transition-duration: 0.2s;
}
input[type="text"] {
    width: 250px;
}
input[type="number"] {
    width: 75px;
}
button:hover, select:hover, input[type="date"]:hover, input[type="text"]:hover, input[type="number"]:hover{
    box-shadow: 0px 0px 10px 1px black;
}
button:active, button:focus, select:active, select:focus, input[type="date"]:active, input[type="date"]:focus, input[type="text"]:active, input[type="text"]:focus, input[type="number"]:active, input[type="number"]:focus{
    box-shadow: 0px 0px 10px 1px black;
}

i{
    transition-duration: 0.1s;
    border-radius: 50%;
}
i:hover {
    color: #000000;
    background-color: rgba(0, 0, 0, 0.2);
}
i:active, i:focus{
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.2);
}



/*scroll bar, only on desktop*/
@media (min-width: 1000px){
    /*whole thing*/
    ::-webkit-scrollbar {
        width: 13px;
        height: 13px;
    }

    /*buttons*/
    ::-webkit-scrollbar-button {
        width: 13px;
        height: 13px;

        background-color: #BBBBBB;
        background-size: 16px 16px;
        background-position: center;
        background-repeat: no-repeat;
    }
    ::-webkit-scrollbar-button:hover {
        background-color: #909090;
    }
    ::-webkit-scrollbar-button:active {
        background-color: #606060;
    }

    ::-webkit-scrollbar-button:vertical:decrement{
        background-image: url('assets/google-icons/svg/ic_arrow_drop_up_black_24px.svg');
    }
    ::-webkit-scrollbar-button:vertical:decrement:hover {
        background-image: url('assets/google-icons/svg/ic_arrow_drop_up_black_24px.svg');
    }
    ::-webkit-scrollbar-button:vertical:decrement:active{
        background-image: url('assets/google-icons/svg/ic_arrow_drop_up_white_24px.svg');
    }

    ::-webkit-scrollbar-button:vertical:increment{
        background-image: url('assets/google-icons/svg/ic_arrow_drop_down_black_24px.svg');
    }
    ::-webkit-scrollbar-button:vertical:increment:hover {
        background-image: url('assets/google-icons/svg/ic_arrow_drop_down_black_24px.svg');
    }
    ::-webkit-scrollbar-button:vertical:increment:active{
        background-image: url('assets/google-icons/svg/ic_arrow_drop_down_white_24px.svg');
    }

    ::-webkit-scrollbar-button:horizontal:decrement{
        background-image: url('assets/google-icons/svg/ic_arrow_drop_left_black_24px.svg');
    }
    ::-webkit-scrollbar-button:horizontal:decrement:hover {
        background-image: url('assets/google-icons/svg/ic_arrow_drop_left_black_24px.svg');
    }
    ::-webkit-scrollbar-button:horizontal:decrement:active {
        background-image: url('assets/google-icons/svg/ic_arrow_drop_left_white_24px.svg');
    }

    ::-webkit-scrollbar-button:horizontal:increment{
        background-image: url('assets/google-icons/svg/ic_arrow_drop_right_black_24px.svg');
    }
    ::-webkit-scrollbar-button:horizontal:increment:hover {
        background-image: url('assets/google-icons/svg/ic_arrow_drop_right_black_24px.svg');
    }
    ::-webkit-scrollbar-button:horizontal:increment:active {
        background-image: url('assets/google-icons/svg/ic_arrow_drop_right_white_24px.svg');
    }

    /*actual bar*/
    ::-webkit-scrollbar-thumb {
        background: #BBBBBB;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #909090;
    }
    ::-webkit-scrollbar-thumb:active {
        background: #606060;
    }

    /*bar background*/
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    ::-webkit-scrollbar-track:hover {
        background: #D8D8D8;
    }
    ::-webkit-scrollbar-track:active {
        background: #D8D8D8;
    }

    /*corner*/
    ::-webkit-scrollbar-corner {
        background: transparent;
    }

    /*resize*/
    ::-webkit-resizer {
        background: transparent;
    }

}



/*mobile*/
@media (max-width: 1000px){ /*phone horizontal/tablet*/
    label {
        margin: 10px 0;
    }
    input[type="text"] {
        width: 170px;
    }
}
