body{
    width: 100%;
    margin: 0;
    background-color: #E4E4E4;
    color: #202020;
    font-family: arial;
    font-size: 1em;
}

a:link {
    color: #0063AF;
    text-decoration: none;
}
a:visited {
    color: #4A1268;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


/*interactive stuff*/
.material-icons, button, select, input[type="checkbox"], label{
    cursor: pointer;
}


button{
    padding: 7px 15px;
    margin: 5px;
    border: none;
    background-color: #DDDDDD;
    font-size: 17px;
    box-shadow: 0px 0px 5px 0px black;
    transition-duration: 0.1s;
}
button:hover {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 14px 2px black;
}

select{
    margin: 0 1em;
    background-color: #FFFFFF;
    color: #202020;
    padding: 2px 0;
    border: none;
    box-shadow: 0px 0px 5px 0px black;
    font-size: 1em;
    transition-duration: 0.1s;
}
select:hover, select:focus{
    box-shadow: 0px 0px 10px 1px black;
}

input[type="checkbox"] {
    margin-left: 0;
}

input[type="text"] {
    width: 170px;
    border: none;
    padding: 4px;
    background-color: #FFFFFF;
    color: #202020;
    box-shadow: 0px 0px 5px 0px black;
}
input[type="text"]:hover, input[type="text"]:focus{
    box-shadow: 0px 0px 10px 1px black;
}

i{
    transition-duration: 0.1s;
    border-radius: 50%;
}
i:hover {
    color: #000000;
    background-color: rgba(0, 0, 0, 0.2);
}
