body{
    margin: 0;
    background-color: #E4E4E4;
    color: #202020;
    font-family: arial;
    font-size: 1em;
}

a:link {
    color: #0063AF;
    text-decoration: none;
}
a:visited {
    color: #2A1288;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(assets/google-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(assets/google-icons/MaterialIcons-Regular.woff2) format('woff2'),
       url(assets/google-icons/MaterialIcons-Regular.woff) format('woff'),
       url(assets/google-icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    -moz-osx-font-smoothing: grayscale;

    font-feature-settings: 'liga';
}


/*interactive stuff*/
.material-icons, button, select, input[type="checkbox"], label{
    cursor: pointer;
}


label {
    margin: 2px 0;
}


button{
    padding: 7px 15px;
    margin: 5px;
    border: none;
    background-color: #DDDDDD;
    font-size: 17px;
    box-shadow: 0px 0px 5px 0px black;
    transition-duration: 0.2s;
}
button:hover {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 1px black;
}

select{
    margin: 0 1em;
    background-color: #FFFFFF;
    color: #202020;
    padding: 2px 0;
    border: none;
    box-shadow: 0px 0px 5px 0px black;
    font-size: 1em;
    transition-duration: 0.2s;
}
select:hover, select:focus{
    box-shadow: 0px 0px 10px 1px black;
}

input[type="checkbox"] {
    height: 13px;
    width: 13px;
    margin: 0;
    margin-right: 5px;
}

input[type="text"] {
    width: 170px;
    border: none;
    padding: 4px;
    background-color: #FFFFFF;
    color: #202020;
    box-shadow: 0px 0px 5px 0px black;
    transition-duration: 0.2s;
}
input[type="text"]:hover, input[type="text"]:focus{
    box-shadow: 0px 0px 10px 1px black;
}

i{
    transition-duration: 0.2s;
    border-radius: 50%;
}
i:hover {
    color: #000000;
    background-color: rgba(0, 0, 0, 0.2);
}



/*mobile*/
@media (max-width: 900px){ /*big phone/tablet*/
    label {
        margin: 5px 0;
    }
}
@media (max-width: 600px){ /*phone*/
}
